.li{
    background-color: rgb(197, 215, 231);
    width: 50% ;
    height: fit-content;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}