.box{
    width: 100%;
    background-color: rgb(111, 145, 145);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 15vh;
    margin-top: 10px;
     justify-content: space-around;
}